@media screen and (max-width:1000px) {
    body{
        height:220% !important;
    }
    /* Parte das Vendas*/
    #Vendas{
        position: absolute;
        height:50%;
        width:89%;
        left:5.5%;
        top:20%;
        background-color: #4e4e4e;
        
    }
    
    #VendasTitle{
        position: absolute;
        height:10%;
        width:100%;
        top:0%;
        background-color: grey;
        text-align: middle;
        vertical-align: middle;
        line-height: 30px;
        font-weight: bold;
        font-size: 22px;
    
    }
 
    #myCanvas{
        position: absolute;
        height:100%;
        width:100%;
        top:10%;
        background-color: #4e4e4e;
        border-bottom: 0.5px solid black;
    }
    /* Daqui para baixo é a parte do Hoje */ 
    #Hoje{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:77%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }
    
    #Title{
        position: absolute;
        height:35%;
        width:100%;
        top:0%;
        background-color: grey;
        text-align: middle;
        vertical-align: middle;
        line-height: 25px;
        font-weight: bold;
        font-size: 19px;
        border-bottom: 2px solid white;
    
    }

    #AAM{
        position: absolute;
        height:35%;
        width:35%;
        top:55%;
        left:68%;
        text-align: middle;
        vertical-align: middle;
        line-height: 30px;
        font-size: 15px;
    }
    /* Daqui para baixo é a parte do Ontem */ 
    #Ontem{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:90%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte dos últimos 7 dias */ 
    #U7D{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:103%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte do ultimo mes */ 
    #UM{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:116%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte do Trimestre 1 */ 
    #T1{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:129%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte do Trimestre 2 */ 
    #T2{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:142%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte do Trimestre 3 */ 
    #T3{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:155%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /* Daqui para baixo é a parte do Trimetre 4 */ 
    #T4{
        position: absolute;
        height:10%;
        width:89%;
        left:5.5%;
        top:168%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
    }

    /*Canvas Trimestres*/
    #CanvasT{
        position: absolute;
        height:20%;
        width:89%;
        left:5.5%;
        top:180%;
        background-color: #4e4e4e;
        border-bottom: 0.5px solid black;
    }

    /*Parte dos vendedores daqui para baixo*/
    #Vendedores{
        position: absolute;
        height:20%;
        width:89%;
        left:5.5%;
        top:203%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
        
    }

    #VendedoresTitle{
        position: absolute;
        height:30%;
        width:100%;
        top:0%;
        background-color: grey;
        text-align: middle;
        vertical-align: middle;
        line-height: 55px;
        font-weight: bold;
        font-size: 22px;

    }

    #CanvasVendedores{
        position: absolute;
        height:100%;
        width:100%;
        top:100%;
        background-color: #4e4e4e;
        border-bottom: 0.5px solid black;
    }
    /*Parte dos terminais daqui para baixo*/
    #Terminais{
        position: absolute;
        height:20%;
        width:89%;
        left:5.5%;
        top:246%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
        
    }

    #TerminaisTitle{
        position: absolute;
        height:30%;
        width:100%;
        top:0%;
        background-color: grey;
        text-align: middle;
        vertical-align: middle;
        line-height: 55px;
        font-weight: bold;
        font-size: 22px;

    }

    #CanvasTerminais{
        position: absolute;
        height:100%;
        width:100%;
        top:100%;
        background-color: #4e4e4e;
        border-bottom: 0.5px solid black;
    }
    /*Familias Parte daqui para baixo*/
    #Familias{
        position: absolute;
        height:40%;
        width:89%;
        left:5.5%;
        top:290%;
        background-color: #4e4e4e;
        border-bottom: 1px solid black;
        
    }

    #FamiliasTitle{
        position: absolute;
        height:10%;
        width:100%;
        top:0%;
        background-color: grey;
        text-align: middle;
        vertical-align: middle;
        line-height: 35px;
        font-weight: bold;
        font-size: 22px;

    }

    #FamiliasCanvas{
        position: absolute;
        height:100%;
        width:100%;
        top:10%;
        background-color: #4e4e4e;
        border-bottom: 0.5px solid black;
    }
}











